{% extends "layouts/base.html" %}
{% load humanize %}
{% load static %}

<style>
  .table {
    width: 80%;
    margin-bottom: 1rem;
    color: #000000;
    margin-left: 10%;
  }
</style>

{% block t %}
<a href="{% url 'debtor_old' %}" style="text-decoration: none; color: rgb(0, 0, 0); ">
  รายชื่อผู้ติดหนี้ทั้งหมด
</a>
{% endblock %}

{% block nav %}
วันที่ : {{formatDate}}
{% endblock %}

{% block content %}
<div class="home-content" style=" margin-left: 6%;  width: 90%;">
  <div class="container--fluid">
    <div class="row">
      <div class="col-lg-4 text-center">
        <form class="form-inline ml-5" action="{% url 'debtor_old' %}" , method="GET">
          <div class="input-group">
            <input class="form-control" name="title" type="text" placeholder="ชื่อ / เบอร์โทร">
            <div class="input-group-append">
              <button type="submit" class="btn btn-success"><!--<i class="fa fa-barcode px-1 fa-1x"></i>--><i
                  class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4 text-center" >
        
      </div>
      <div class="col-lg-4 text-center" >
        <a href="{%url 'debtor_new' %}">
          <input type="submit" class="btn btn-success mb-2 mr-2" value="เพิ่มลูกหนี้">
        </a>
      </div>
    </div>
  </div>


  <br>

  <table class="table">
    <thead class="thead-dark" style="font-size: 18px; font-weight: bold; ">
      <tr>
        <th scope="col" width="10%" style="text-align: center;">ชื่อ</th>
        <th scope="col" width="5%" style="text-align: center;">เบอร์โทร</th>
        <th scope="col" width="5%" style="text-align: center;">ยอดหนี้</th>
        <th scope="col" width="3%" style="text-align: center;">วงเงิน</th>
        <th scope="col" width="8%" style="text-align: center;">วงเงินคงเหลือ</th>
        <th scope="col" width="10%" style="text-align: center;">วันที่สร้าง</th>
        <th scope="col" width="10%" style="text-align: center;">วันที่อัพเดตล่าสุด</th>
        <th scope="col" width="5%" style="text-align: center;">ชำระหนี้</th>
        <th scope="col" width="8%" style="text-align: center;">ติดหนี้เพิ่ม</th>
        <th scope="col" width="2%" style="text-align: center;">แก้ไข</th>
        <th scope="col" width="2%" style="text-align: center;">ลบ</th>
      </tr>
    </thead>
    <tbody style="font-size: 16px; font-weight: bold;">
      {% for debtor in debtors %}
      <tr>
        <td class="cart_product">
          <p>{{debtor.name}}</p>
        </td>
        <td class="cart_product text-center">
          <p>{{debtor.phone}}</p>
        </td>
        <td class="cart_description text-center">
          <p>{{debtor.total}}</p>
        </td>
        <td class="cart_price text-center">
          <p>{{debtor.cash_limit}}</p>
        </td>
        <td class="cart_cost text-center">
          <p>{{debtor.balance}}</p>
        </td>
        <td class="cart_cost text-center">
            <p>{{debtor.created_at| date:'d M Y H:i'}} น.</p>
          </td>
          <td class="cart_cost text-center">
            <p>{{debtor.updated_at| date:'d M Y H:i' }} น.</p>
          </td>
          <td class="debtor_payoff" style="text-align: center; ">
            <a href="{%url 'payOffDebtor' debtor.id  %}">
              <i class='bx bx-wallet text-dark'></i>
            </a>
          </td>
          <td class="cart_edit" style="text-align: center; ">
            <a href="{%url 'plusDebtor' debtor.id  %}">
              <i class='bx bx-plus text-dark'></i>
            </a>
          </td>

                <td class="cart_edit" style="text-align: center; ">
                  <a href="{%url 'editDebtor' debtor.id  %}">
                    <i class='bx bx-edit text-dark'></i>
                  </a>
                </td>
                <td class="cart_del" style="text-align: center;">
                  <a href="#"
                    onclick="deleteDebtor({{debtor.id}})">
                    <i class='bx bx-message-square-x text-danger'></i>
                  </a>
                </td>
                {% endfor %}
    </tbody>
  </table>

</div>

{% endblock%}