{% extends "layouts/base.html" %}
{% load humanize %}
{% load static %}

<!-- <style>
  .img .card-img-top {
    width: 70%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }
</style> -->

{% block t %}
<a href="{% url 'product' %}" style="text-decoration: none; color: rgb(0, 0, 0); ">
  รายการสินค้าทั้งหมด
</a>
{% endblock %}

{% block nav %}
<form class="form-inline ml-3" action="{% url 'product' %}" , method="GET">
  <div class="input-group">
    <input class="form-control" name="title" type="text" placeholder="ชื่อสินค้า / รหัสสินค้า">
    <div class="input-group-append">
      <button type="submit" class="btn btn-success"><!--<i class="fa fa-barcode px-1 fa-1x"></i>--><i
          class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </div>
</form>
<div class="add" align="right">
  <a href="{%url 'checkout_add'%}">
    <input type="submit" class="btn btn-success mb-2 mr-2" value="เพิ่มสินค้า">
  </a>
</div>
{% endblock %}

{% block content %}
<div class="home-content">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" width="15%">รหัสสินค้า</th>
        <th scope="col" width="15%">ชื่อสินค้า</th>
        <th scope="col" width="10%">ราคา</th>
        <th scope="col" width="10%">ต้นทุน</th>
        <th scope="col" width="10%">คลังสินค้า</th>
        <th scope="col" width="15%">วันหมดอายุ</th>

      </tr>
    </thead>
    <tbody>
      {% for products in product %}
      <tr>
        <td class="cart_product">
          <h6>{{products.barcode}}</h6>
        </td>
        <td class="cart_description">
          <h6>{{products.name}}</h6>
        </td>


        <td class="cart_price">
          <p>{{products.price}}</p>
        </td>
        <td class="cart_cost">
          <p>{{products.cost}}</p>
        </td>
        {% if products.stock <= 0 %} <td class="cart_stock">
          <p class=" text-danger font-weight-bold" style="font-size: 20px;">สินค้าหมด</p>
          </td>
          {% elif products.stock <= 5 %} <td class="cart_stock">
            <p class=" text-warning font-weight-bold" style="font-size: 20px;">สินค้าใกล้หมดสต็อก </p>
            </td>
            {% else %}
            <td class="cart_stock">
              <p>{{products.stock}}</p>
            </td>

            {%endif%}
            <td class="cart_exp">
              <p>{{products.EXP}}</p>
            </td>


            {% endfor %}



            <!--<div class="dropdown-divider "></div>
            <ul class="pagination justify-content-end mr-2">
                {% if product.has_previous %}
                <li class="page-item"><a class="page-link " href="?page=product.previous_page_number">Previous</a></li>
                {% endif %}

                {% for i in product.paginator.page_range %}
                <li class="page-item {% if product.number == i %}active{% endif %}"><a class="page-link "
                        href="?page={{i}}">{{i}}</a></li>
                {% endfor %}

                {% if product.has_next %}
                <li class="page-item"><a class="page-link " href="?page={{product.next_page_number}}">Next</a></li>
                {% endif %}
            </ul>-->
</div>
{% endblock%}