{% extends "layouts/base.html" %}
{% load humanize %}
{% load static %}

<style>
  .table {
    width: 80%;
    margin-bottom: 1rem;
    color: #000000;
    margin-left: 10%;
  }
</style>

{% block t %}
<a href="{% url 'product' %}" style="text-decoration: none; color: rgb(0, 0, 0); ">
  รายการสินค้าทั้งหมด
</a>
{% endblock %}

{% block nav %}
<form class="form-inline ml-3" action="{% url 'product' %}" , method="GET">
  <div class="input-group">
    <input class="form-control" name="title" type="text" placeholder="ชื่อสินค้า / รหัสสินค้า">
    <div class="input-group-append">
      <button type="submit" class="btn btn-success"><!--<i class="fa fa-barcode px-1 fa-1x"></i>--><i
          class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </div>
</form>
<div class="add" align="right">
  <a href="{%url 'checkout_add'%}">
    <input type="submit" class="btn btn-success mb-2 mr-2" value="เพิ่มสินค้า">
  </a>
</div>
{% endblock %}

{% block content %}
<div class="home-content" style=" margin-left: 5%;  width: 90%;">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" width="15%">รหัสสินค้า</th>
        <th scope="col" width="15%">ชื่อสินค้า</th>
        <th scope="col" width="10%">ราคา</th>
        <th scope="col" width="10%">ต้นทุน</th>
        <th scope="col" width="10%">คลังสินค้า</th>
        <th scope="col" width="10%">วันหมดอายุ</th>
        <th scope="col" width="10%">สถานะคลังสินค้า</th>
        <th scope="col" width="5%">แก้ไข</th>
        <th scope="col" width="5%">ลบ</th>

      </tr>
    </thead>
    <tbody style="font-size: 18px; font-weight: bold;">
      {% for products in product %}
      <tr>
        <td class="cart_product">
          <p>{{products.barcode}}</p>
        </td>
        <td class="cart_description">
          <p>{{products.name}}</p>
        </td>
        <td class="cart_price">
          <p>{{products.price}}</p>
        </td>
        <td class="cart_cost">
          <p>{{products.cost}}</p>
        </td>
        {% if products.stock <= 0 %}
        <td class="cart_stock text-danger">
          <p>{{products.stock}} ชิ้น</p>
        </td>
        {% elif products.stock <= 5 %}
        <td class="cart_stock text-warning">
          <p>{{products.stock}} ชิ้น</p>
        </td>
        {% else %}
        <td class="cart_stock  ">
          <p>{{products.stock}} ชิ้น</p>
        </td>
        {%endif%}

        <td class="cart_exp">
          <p>{{products.EXP}}</p>
        </td>

        {% if products.stock <= 0 %} <td class="cart_status">
          <p class="text-center text-danger " style="font-size: 18px;">
            สินค้าหมด
          </p>
          </td>
          {% elif products.stock <= 5 %} <td class="cart_status">
            <p class="text-center text-warning" style="font-size: 18px;">
              สินค้าใกล้หมด
            </p>
            </td>
            {% else %}
            <td class="cart_status">
              <p class="text-center text-success" style="font-size: 18px;">
                ยังมีสินค้า
              </p>
            </td>

            {%endif%}
            <td class="cart_edit" style="text-align: center; font-weight: bold;">
              <a>
                <i class='bx bx-edit'></i>
              </a>
            </td>
            <td class="cart_del" style="text-align: center;">
              <a>
                <i class='bx bx-message-square-x'></i>
              </a>
            </td>
            {% endfor %}



            <!--<div class="dropdown-divider "></div>
            <ul class="pagination justify-content-end mr-2">
                {% if product.has_previous %}
                <li class="page-item"><a class="page-link " href="?page=product.previous_page_number">Previous</a></li>
                {% endif %}

                {% for i in product.paginator.page_range %}
                <li class="page-item {% if product.number == i %}active{% endif %}"><a class="page-link "
                        href="?page={{i}}">{{i}}</a></li>
                {% endfor %}

                {% if product.has_next %}
                <li class="page-item"><a class="page-link " href="?page={{product.next_page_number}}">Next</a></li>
                {% endif %}
            </ul>-->
</div>
{% endblock%}